{% extends 'base.html' %}
{% block content %}

    <h2>Movie: {{ movie.title }}</h2>

    <p id="movie_released">Released on: {{ movie.released_at }}</p>
    <p id="movie_imdb">IMDB URL: <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></p>


    <ul>
        {% for rating in movie.ratings %}
          <li>
                {{ rating.user.user_id }}: ({{ rating.score }})   
          </li>
        {% endfor %}
    </ul>

    {% if session %}
    <h3>Add a Review for {{ movie.title }}</h3>
    <form action="/process_rating" method="POST">
      <input type="radio" name="rating" value="1">1<br>
      <input type="radio" name="rating" value="2">2<br>
      <input type="radio" name="rating" value="3">3<br>
      <input type="radio" name="rating" value="4">4<br>
      <input type="radio" name="rating" value="5">5<br>
      <input type="hidden" name="movie-id" value="{{ movie.movie_id }}">
      <input type="hidden" name="user-id" value="{{ session['user'] }}">
      <input type="submit" value="Submit Rating">
    </form>
    {% else %}
    To rate this movie, please <a href="/login">login</a>.
    {% endif %}

{% endblock %}

<!-- Make this a table -->